/* LoginPage.css */

.login-page {
  height: 100vh;
}

.image-column,
.form-column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
}

.login-image,
.login-container {
  width: 100%;
  height: 100%;
}

.login-image {
  object-fit: cover;
}

.login-container {
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(148, 190, 176);
}

.login-titles {
  text-align: center;
  margin-bottom: 20px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

.login-label {
  display: block;
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't increase width */
  margin: 0 auto; /* Center the input fields horizontally */
}


.login-button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .login-input,
  .login-button {
    width: 100%; /* Set input fields and button to full width on smaller screens */
  }
}
